.expanded,
.collapsed {
  border-radius: 1px;
  overflow: scroll;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* subtle shadow */
  transition: box-shadow 0.3s ease;
  border: 2px solid #000000;
  background-color: #262626; /* Slightly different from body for distinction */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Subtle shadow for each tweet */
  width: 99%; /* full width of the viewport */
  color: white;
}

.expaded:hover,
.collapsed:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* deeper shadow on hover */
}

.collapsed {
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.expanded {
  height: 100%; /* full height of the viewport */
  top: 0px;
  left: 0px;
  position: absolute;
  overflow-x: hidden;
  text-align: left;
  z-index: 1;
}

.collapsed h2, .expanded h2{
  margin-top: 0;
  margin-left: 2px;
  font-size: 1.2em; /* Material Design uses bold, simple headings */
}

.expanded h2{
  margin-left: 40px;
}

.sender {
  color: rgb(109, 169, 169);
}

.delete-btn, .close-btn{
  top: 0px;
  position: absolute;
  background-color: #f44336; /* Material Design red accent */
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 24px; /* Adjust size of 'X' as needed */
}

.close-btn {
  left: 0px;
  width: 30px;
  height: 30px;
  line-height: 30px; /* Center the 'X' vertically */
  user-select: none; /* Prevents text selection */
}

.delete-btn {
  padding: 10px;
  width: fit-content;
  height: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  line-height: 0; 
  right: 0px;
}

.delete-btn:hover, .close-btn:hover {
  background-color: #d32f2f; /* slightly darker red on hover */
}
