.chatBody {
  height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 87% 13%;
  border-radius: 20px;
}

.selectionContainer {
  grid-row: 1;
  grid-column: 1;
}

.chatSelection {
  border: 1px solid #510a32;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.chatSelection.current {
  background-color: #ee4540;
  cursor: auto;
  border-left: 1px solid #510a32;
}

.chatSelection.not {
  cursor: pointer;
  background-color: #510a32;
  color: #ee4540;
  border-left: 1px solid #ee4540;
}

.chatSelection.unavailable {
  background-color: #2d142c;
  cursor: not-allowed;
  pointer-events: all;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  grid-column: 2/3;
  border-left: 1px solid #510a32;
}

.message {
  padding: 8px 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 90%;
}

.user {
  background-color: #ee4540;
  align-self: flex-end;
  text-align: end;
}

.assistant {
  background-color: #800020;
  align-self: flex-start;
  color: white;
}

.input-form {
  display: flex;
  border-top: 1px solid #510a32;
  padding: 10px;
  background-color: #510a32;
  grid-row: 2;
  grid-column: 2/3;
  border-radius: 20px;
}

.input-form input {
  flex: 1;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #510a32;
  background-color: #ee4540;
  color: #333;
  border-radius: 4px;
}

.input-form button {
  background-color: #800020;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.input-form button:hover {
  background-color: #800020;
}
.thinking-animation {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #fdfdfd; /* You can change the color of dots here */
}

.thinking-animation::after {
  content: '•••';
  font-size: 20px; /* Adjust size of dots */
  animation: typing 1s steps(4, end) infinite;
}

@keyframes typing {
  0%, 100% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}