.Mail {
  margin: 10px; /* Centering the Tweeter */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #333333; /* Subtle border */
  background-color: #1e1e1e; /* Dark grey background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Adding shadow for depth */
  overflow: hidden; /* Ensuring no overflow */
  position: fixed;
}

.mailHeader {
  color: #ffffff;
  border-bottom: 1px solid #333333;
  padding: 15px;
  position: relative;
  background-color: #242424; /* Slightly lighter than the container for contrast */
  cursor: move;
}

.mailBody {
  max-width: 100%;
  height: 100%;
  color: #e0e0e0;
  overflow-y: auto; /* Allowing vertical scroll */
  background-color: #1e1e1e; /* Consistent with main container */
  overflow-x: hidden;
  position: relative;
}

.expanded,
.collapsed {
  border-radius: 1px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* subtle shadow */
  transition: box-shadow 0.3s ease;
  border: 2px solid #000000;
  background-color: #262626; /* Slightly different from body for distinction */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Subtle shadow for each tweet */
  width: 99%; /* full width of the viewport */
}

.expaded:hover,
.collapsed:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* deeper shadow on hover */
}

.collapsed {
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.expanded {
  height: 100%; /* full height of the viewport */
  top: 0px;
  left: 0px;
  position: absolute;
  overflow-x: hidden;
  text-align: left;
  z-index: 1;
}

.collapsed h2, .expanded h2{
  margin-top: 0;
  margin-left: 2px;
  font-size: 1.2em; /* Material Design uses bold, simple headings */
}

.expanded h2{
  margin-left: 40px;
}

p {
  margin-left: 3%;
  margin-right: 3%;
}

.sender {
  color: rgb(109, 169, 169);
}

.delete-btn, .close-btn{
  top: 0px;
  position: absolute;
  background-color: #f44336; /* Material Design red accent */
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 24px; /* Adjust size of 'X' as needed */
}

.close-btn {
  left: 0px;
  width: 30px;
  height: 30px;
  line-height: 30px; /* Center the 'X' vertically */
  user-select: none; /* Prevents text selection */
}

.delete-btn {
  padding: 10px;
  width: fit-content;
  height: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  line-height: 0; 
  right: 0px;
}

.delete-btn:hover, .close-btn:hover {
  background-color: #d32f2f; /* slightly darker red on hover */
}
