.matrix-plot {
    max-width: 400px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
  
}

.matrixWrapper{
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.matrix-plot line {
    stroke: grey;
}

.matrix-plot circle {
    fill: red;
}

.matrix-plot h2{
    margin-bottom: 10px;
}